.register-container {
  display: flex;
  width: 800px;
  height: 450px;
}

/* LEFT SIDE */
.register-left {
  width: 50%;
  padding: 40px;
  background:#131921;
}

.register-left span {
  color: #d1005d;
}

.small-text {
  font-size: 14px;
  margin-top: 10px;
  color: gray;
}

/* RIGHT SIDE */
.register-right {
  width: 50%;
  padding: 40px;
  background: #c1cbd0;
}

.register-right h3 {
  margin-bottom: 20px;
  display: flex;
  font-size: 24px;
  justify-content: center;
  color: #131921;
}

.register-right form {
  display: flex;
  flex-direction: column;
}

.register-right input {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #171616;
  color: #171616;
}



.register-btn {
  background: #d1005d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
}

.register-btn:hover {
  background: #b0004d;
}

